<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDqU_xIGwMSBt832HJSl1tgP8WWueoWUs</string>
	<key>GCM_SENDER_ID</key>
	<string>226571087611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>luna.LunaCare</string>
	<key>PROJECT_ID</key>
	<string>lunacare-d181e</string>
	<key>STORAGE_BUCKET</key>
	<string>lunacare-d181e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226571087611:ios:f5c6931b9556af4158ca5e</string>
</dict>
</plist>